@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
}
html,
body {
  @apply ans-bg-White dark:ans-bg-Gray-900 ans-text-Gray-900 dark:ans-text-White;
}


@layer base {
  html {
    font-family: 'Press Start 2P', cursive;
  }
}